map $http_user_agent $block_bot {
    default 0;
    ~*(bot|crawler|spider|scrapy|curl|wget|python|httpclient) 1;
}

limit_req_zone $binary_remote_addr zone=gitea:10m rate=5r/s;

server {
    listen 443 ssl;
    http2 on;
    server_name gitea.nicolas-simond.ch;

    # SSL configuration...
        ssl_certificate /etc/letsencrypt/live/nicolas-simond.ch/fullchain.pem;
        ssl_certificate_key /etc/letsencrypt/live/nicolas-simond.ch/privkey.pem;

    if ($block_bot) {
        return 403;
    }


location ~ ^/.*/(info/refs|git-upload-pack|git-receive-pack)$ {
    allow 192.168.1.0/24;
    deny all;
}

        location / {
        allow 192.168.1.0/24;
#       deny all;
        limit_req zone=gitea burst=20 nodelay;
        client_max_body_size 512M;
        proxy_pass http://192.168.1.10:3333;
        proxy_set_header Connection $http_connection;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }
}
